/.idea/
/misc/TestRandy.db
/misc/basedonnee.saving
/.idea/dataSources/
/.idea/ant.xml
/.idea/dataSources.local.xml
/.idea/dataSources.xml
/.idea/misc.xml
/.idea/modules.xml
/.idea/Projet BDD.iml
/.idea/SGBD.iml
/.idea/vcs.xml
/.idea/workspace.xml
